/* add general style for the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add style for the body section */
body {
    display: block;
    margin: 5px;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

/* add smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
}

a:hover,
a:focus {
    color: rgba(234, 170, 98, 255);
}



/* Navigation bar */
#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgb(37, 150, 190);
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav .navbar-brand {
    color: #fcfcfc;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
    letter-spacing: 1px;
}

#mainNav .navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
    color: rgba(234, 170, 98, 255);
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 8px 10px;
    color: #222222;
}

#mainNav .navbar-nav>li>a {
    font-size: 15px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
    color: rgba(234, 170, 98, 255) !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {
    background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
    color: #222222;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
    color: rgba(234, 170, 98, 255);
}



/* Jumbotron  */
.jumbotron {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Jumbotron copy */
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
}

.jumboCopy h1,
.jumboCopy p {
    display: table;
    /* keep the background color wrapped tight */
    margin: 0px auto 0px auto;
    /* keep the table centered */
    padding: 5px;
    background-color: rgba(13, 13, 13, 0.468);
}

.jumboCopy img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
}

/* Cards */
.content {
    padding: 50px;
}

.sectionHeading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.workExamples {
    padding: 0px 30px 30px 30px;
}

.cardContainer {
    text-align: center;
}

.card-title {
    font-size: 25px;
    font-weight: 600;
}

/* Skills section */

section.skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.skills .skills-item {
    max-width: 18rem;
}

section.skills .skills-item h3 {
    font-size: 20px;
    font-weight: 600;
}

section.skills .skills-item img {
    max-width: 18rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}


/* Contact section */
.contact-section {
    padding: 50px;
}

.contact-section .card {
    border: 20px;
    align-items: center;
    border-bottom: 0.25rem solid #75b8e2;
}

.contact-section .card h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: #91c3e4;
    border-width: 0.25rem;
    width: 100%;
}

.contact-section .card img {
    width: 40px;
    padding: 5px;
}

/* Foother */

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(37, 150, 190);
}